# Fish Detection and Tracking

In [6]:
# Load library for manipulating data tables. 
import pandas as pd

In [7]:
# Load data in an organized data frame.
df = pd.read_csv('../../detectionsBCIT_fixed.csv')
# Print the head of the data. 
df.head()

,date_utc,date_local,receiver,acoustic_tag_id,station,gate,rkm,lat,lon,utm_zone,utm_easting,utm_northing
0,2021-09-24 20:46,2021-09-24 13:46,VR2Tx-486856,A69-1602-64231,Swaneset,Lower River Swaneset,11.5,49.29495,-122.657417,10,524909.09,5460301.27
1,2021-09-24 22:05,2021-09-24 15:05,VR2Tx-486856,A69-1602-64231,Swaneset,Lower River Swaneset,11.5,49.29495,-122.657417,10,524909.09,5460301.27
2,2021-09-24 22:15,2021-09-24 15:15,VR2Tx-486856,A69-1602-64231,Swaneset,Lower River Swaneset,11.5,49.29495,-122.657417,10,524909.09,5460301.27
3,2021-09-24 22:41,2021-09-24 15:41,VR2Tx-486856,A69-1602-64231,Swaneset,Lower River Swaneset,11.5,49.29495,-122.657417,10,524909.09,5460301.27
4,2021-09-24 22:55,2021-09-24 15:55,VR2Tx-486856,A69-1602-64231,Swaneset,Lower River Swaneset,11.5,49.29495,-122.657417,10,524909.09,5460301.27

In [17]:
# Strip out unneeded colums. 
dfs = df[['date_local','acoustic_tag_id','station']].copy()
# Print the head of the stripped data frame.
dfs.head()

         date_local acoustic_tag_id   station
0  2021-09-24 13:46  A69-1602-64231  Swaneset
1  2021-09-24 15:05  A69-1602-64231  Swaneset
2  2021-09-24 15:15  A69-1602-64231  Swaneset
3  2021-09-24 15:41  A69-1602-64231  Swaneset
4  2021-09-24 15:55  A69-1602-64231  Swaneset

In [9]:
# Get list of unique fish
fish = dfs.acoustic_tag_id.unique()
fish

array(['A69-1602-64231', 'A69-1602-64232', 'A69-1602-64234',
       'A69-1602-64235', 'A69-1602-64236', 'A69-1602-64237',
       'A69-1602-64238', 'A69-1602-64241', 'A69-1602-64244',
       'A69-1602-64245', 'A69-1602-64246', 'A69-1602-64247',
       'A69-1602-64248', 'A69-1602-64249', 'A69-1602-64250',
       'A69-1602-64252', 'A69-1602-64255', 'A69-1602-64256',
       'A69-1602-64257', 'A69-1604-24858', 'A69-1604-27419',
       'A69-1604-27420', 'A69-1604-27421', 'A69-1604-27422',
       'A69-1604-27423', 'A69-1604-27424', 'A69-1604-27425',
       'A69-1604-27427', 'A69-1604-27430', 'A69-1604-27431',
       'A69-1604-27432', 'A69-1604-27433', 'A69-1604-27434',
       'A69-1604-27435', 'A69-1604-27436', 'A69-1604-27437',
       'A69-1604-27438', 'A69-1604-27439', 'A69-1604-27440',
       'A69-1604-27441', 'A69-1604-27442', 'A69-1604-27443',
       'A69-1604-27444', 'A69-1604-27445', 'A69-1604-27446',
       'A69-1604-27447', 'A69-1604-27448', 'A69-9001-16062',
       'A69-9001-20978', 'A69-9001-20980', 'A69-9001-20981',
       'A69-9001-22495', 'A69-9001-22498', 'A69-9001-25438'], dtype=object)

In [5]:
## Sort each fish by date.

In [15]:
for f in fish: 
    print(f)

A69-1602-64231
A69-1602-64232
A69-1602-64234
A69-1602-64235
A69-1602-64236
A69-1602-64237
A69-1602-64238
A69-1602-64241
A69-1602-64244
A69-1602-64245
A69-1602-64246
A69-1602-64247
A69-1602-64248
A69-1602-64249
A69-1602-64250
A69-1602-64252
A69-1602-64255
A69-1602-64256
A69-1602-64257
A69-1604-24858
A69-1604-27419
A69-1604-27420
A69-1604-27421
A69-1604-27422
A69-1604-27423
A69-1604-27424
A69-1604-27425
A69-1604-27427
A69-1604-27430
A69-1604-27431
A69-1604-27432
A69-1604-27433
A69-1604-27434
A69-1604-27435
A69-1604-27436
A69-1604-27437
A69-1604-27438
A69-1604-27439
A69-1604-27440
A69-1604-27441
A69-1604-27442
A69-1604-27443
A69-1604-27444
A69-1604-27445
A69-1604-27446
A69-1604-27447
A69-1604-27448
A69-9001-16062
A69-9001-20978
A69-9001-20980
A69-9001-20981
A69-9001-22495
A69-9001-22498
A69-9001-25438

## For each fish, search for arrivals

In [16]:
# Print head of stripped data frame.
dfs.head()

         date_local acoustic_tag_id   station
0  2021-09-24 13:46  A69-1602-64231  Swaneset
1  2021-09-24 15:05  A69-1602-64231  Swaneset
2  2021-09-24 15:15  A69-1602-64231  Swaneset
3  2021-09-24 15:41  A69-1602-64231  Swaneset
4  2021-09-24 15:55  A69-1602-64231  Swaneset

In [21]:
# Count the number of fish
rows_count = len(fish)
print("Number of fish: ", rows_count)

Number of fish:  54

In [27]:
# Filter out current fish
single_fish = dfs.query("acoustic_tag_id == 'A69-1602-64231'")

# List single fish list
single_fish

             date_local acoustic_tag_id   station
0      2021-09-24 13:46  A69-1602-64231  Swaneset
1      2021-09-24 15:05  A69-1602-64231  Swaneset
2      2021-09-24 15:15  A69-1602-64231  Swaneset
3      2021-09-24 15:41  A69-1602-64231  Swaneset
4      2021-09-24 15:55  A69-1602-64231  Swaneset
...                 ...             ...       ...
10886  2023-02-15 17:32  A69-1602-64231  Swaneset
10887  2023-02-15 18:05  A69-1602-64231  Swaneset
10888  2023-02-15 19:40  A69-1602-64231  Swaneset
10889   2023-02-16 1:27  A69-1602-64231  Swaneset
10890   2023-02-16 1:29  A69-1602-64231  Swaneset

[10891 rows x 3 columns]

In [29]:
# Print all visited stations for individual fish. 
stations = single_fish.station.unique()
stations

array(['Swaneset', 'Mid Lake 2 W', 'Mid Lake 1 E',
       'Lower River Tidal 2 N', 'Lower River Tidal 1 S', 'Douglas Island',
       'Quarry Siwash', 'Lake Outlet 2 N'], dtype=object)

In [34]:
for new_fish in dfs['acoustic_tag_id'].unique():
    filtered_df = dfs[dfs['acoustic_tag_id'] == new_fish]
    print(f"Entries in dataframe with '{new_fish}' in column 'acoustic_tag_id':\n{filtered_df}\n")

Entries in dataframe with 'A69-1602-64231' in column 'acoustic_tag_id':
             date_local acoustic_tag_id   station
0      2021-09-24 13:46  A69-1602-64231  Swaneset
1      2021-09-24 15:05  A69-1602-64231  Swaneset
2      2021-09-24 15:15  A69-1602-64231  Swaneset
3      2021-09-24 15:41  A69-1602-64231  Swaneset
4      2021-09-24 15:55  A69-1602-64231  Swaneset
...                 ...             ...       ...
10886  2023-02-15 17:32  A69-1602-64231  Swaneset
10887  2023-02-15 18:05  A69-1602-64231  Swaneset
10888  2023-02-15 19:40  A69-1602-64231  Swaneset
10889   2023-02-16 1:27  A69-1602-64231  Swaneset
10890   2023-02-16 1:29  A69-1602-64231  Swaneset

[10891 rows x 3 columns]

Entries in dataframe with 'A69-1602-64232' in column 'acoustic_tag_id':
             date_local acoustic_tag_id   station
10891  2021-09-24 13:46  A69-1602-64232  Swaneset
10892  2021-09-24 13:47  A69-1602-64232  Swaneset
10893  2021-09-24 13:52  A69-1602-64232  Swaneset
10894  2021-09-24 15:47  A69-1602-64232  Swaneset
10895  2021-09-24 15:51  A69-1602-64232  Swaneset
...                 ...             ...       ...
41890   2023-02-12 2:08  A69-1602-64232  Swaneset
41891   2023-02-12 2:15  A69-1602-64232  Swaneset
41892   2023-02-12 2:19  A69-1602-64232  Swaneset
41893   2023-02-12 3:32  A69-1602-64232  Swaneset
41894   2023-02-14 8:27  A69-1602-64232  Swaneset

[31004 rows x 3 columns]

Entries in dataframe with 'A69-1602-64234' in column 'acoustic_tag_id':
             date_local acoustic_tag_id   station
41895  2021-09-24 15:26  A69-1602-64234  Swaneset
41896  2021-09-24 15:41  A69-1602-64234  Swaneset
41897  2021-09-24 15:43  A69-1602-64234  Swaneset
41898  2021-09-24 16:15  A69-1602-64234  Swaneset
41899  2021-09-24 16:26  A69-1602-64234  Swaneset
...                 ...             ...       ...
49456  2023-02-05 17:21  A69-1602-64234  Swaneset
49457  2023-02-05 19:17  A69-1602-64234  Swaneset
49458  2023-02-06 16:39  A69-1602-64234  Swaneset
49459  2023-02-10 12:30  A69-1602-64234  Swaneset
49460  2023-02-15 10:33  A69-1602-64234  Swaneset

[7566 rows x 3 columns]

Entries in dataframe with 'A69-1602-64235' in column 'acoustic_tag_id':
             date_local acoustic_tag_id   station
49461  2021-09-24 15:41  A69-1602-64235  Swaneset
49462  2021-09-24 15:43  A69-1602-64235  Swaneset
49463  2021-09-24 15:47  A69-1602-64235  Swaneset
49464  2021-09-24 15:53  A69-1602-64235  Swaneset
49465  2021-09-24 16:26  A69-1602-64235  Swaneset
...                 ...             ...       ...
90876   2023-02-15 7:23  A69-1602-64235  Swaneset
90877   2023-02-15 7:39  A69-1602-64235  Swaneset
90878  2023-02-15 15:35  A69-1602-64235  Swaneset
90879   2023-02-16 1:14  A69-1602-64235  Swaneset
90880   2023-02-16 1:23  A69-1602-64235  Swaneset

[41420 rows x 3 columns]

Entries in dataframe with 'A69-1602-64236' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
90881   2021-09-24 16:13  A69-1602-64236               Swaneset
90882   2021-09-24 16:19  A69-1602-64236               Swaneset
90883   2021-09-24 16:21  A69-1602-64236               Swaneset
90884   2021-09-24 16:25  A69-1602-64236               Swaneset
90885   2021-09-24 16:27  A69-1602-64236               Swaneset
...                  ...             ...                    ...
108104  2023-01-14 18:21  A69-1602-64236  Lower River Tidal 1 S
108105  2023-01-14 20:28  A69-1602-64236         Douglas Island
108106  2023-01-14 20:30  A69-1602-64236         Douglas Island
108107  2023-01-14 20:34  A69-1602-64236         Douglas Island
108108  2023-01-14 20:47  A69-1602-64236         Douglas Island

[17228 rows x 3 columns]

Entries in dataframe with 'A69-1602-64237' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
108109  2022-05-06 14:47  A69-1602-64237  Swaneset
108110  2022-05-06 14:49  A69-1602-64237  Swaneset
108111  2022-05-06 14:50  A69-1602-64237  Swaneset
108112  2022-05-06 14:52  A69-1602-64237  Swaneset
108113  2022-05-06 14:54  A69-1602-64237  Swaneset
...                  ...             ...       ...
108543   2022-12-04 3:30  A69-1602-64237  Swaneset
108544   2022-12-05 4:01  A69-1602-64237  Swaneset
108545   2022-12-05 4:14  A69-1602-64237  Swaneset
108546   2022-12-14 8:17  A69-1602-64237  Swaneset
108547   2022-12-17 9:24  A69-1602-64237  Swaneset

[439 rows x 3 columns]

Entries in dataframe with 'A69-1602-64238' in column 'acoustic_tag_id':
              date_local acoustic_tag_id       station
108548   2022-03-07 3:09  A69-1602-64238  Mid Lake 1 E
108549   2022-03-07 9:51  A69-1602-64238  Mid Lake 1 E
108550  2022-03-07 10:02  A69-1602-64238  Mid Lake 1 E
108551  2022-03-07 10:21  A69-1602-64238  Mid Lake 1 E
108552  2022-03-07 10:23  A69-1602-64238  Mid Lake 1 E
...                  ...             ...           ...
109502  2023-01-31 11:50  A69-1602-64238  Mid Lake 1 E
109503  2023-02-03 23:54  A69-1602-64238  Mid Lake 1 E
109504  2023-02-03 23:58  A69-1602-64238  Mid Lake 1 E
109505   2023-02-04 0:13  A69-1602-64238  Mid Lake 1 E
109506   2023-02-04 0:26  A69-1602-64238  Mid Lake 1 E

[959 rows x 3 columns]

Entries in dataframe with 'A69-1602-64241' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
109507  2022-03-25 22:24  A69-1602-64241         Swaneset
109508  2022-03-25 22:26  A69-1602-64241         Swaneset
109509  2022-03-25 22:31  A69-1602-64241         Swaneset
109510  2022-03-25 22:33  A69-1602-64241         Swaneset
109511  2022-03-25 22:37  A69-1602-64241         Swaneset
...                  ...             ...              ...
110332   2023-02-15 9:56  A69-1602-64241  Lake Outlet 2 N
110333  2023-02-15 10:28  A69-1602-64241  Lake Outlet 2 N
110334  2023-02-15 10:37  A69-1602-64241  Lake Outlet 2 N
110335  2023-02-15 13:26  A69-1602-64241  Lake Outlet 2 N
110336  2023-02-15 14:18  A69-1602-64241  Lake Outlet 2 N

[830 rows x 3 columns]

Entries in dataframe with 'A69-1602-64244' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
110337  2022-04-08 14:54  A69-1602-64244               Swaneset
110338  2022-04-08 14:58  A69-1602-64244               Swaneset
110339  2022-04-08 18:50  A69-1602-64244  Lower River Tidal 2 N
110340  2022-04-08 18:52  A69-1602-64244  Lower River Tidal 2 N
110341  2022-04-08 18:54  A69-1602-64244  Lower River Tidal 2 N
...                  ...             ...                    ...
113100  2023-02-13 12:52  A69-1602-64244        Lake Outlet 2 N
113101  2023-02-13 13:01  A69-1602-64244        Lake Outlet 2 N
113102  2023-02-13 13:18  A69-1602-64244        Lake Outlet 2 N
113103  2023-02-13 14:07  A69-1602-64244        Lake Outlet 2 N
113104  2023-02-14 13:12  A69-1602-64244        Lake Outlet 2 N

[2768 rows x 3 columns]

Entries in dataframe with 'A69-1602-64245' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
113105   2022-03-31 3:18  A69-1602-64245         Swaneset
113106   2022-04-10 0:41  A69-1602-64245         Swaneset
113107  2022-04-10 12:17  A69-1602-64245         Swaneset
113108   2022-04-11 0:09  A69-1602-64245         Swaneset
113109   2022-04-11 9:52  A69-1602-64245         Swaneset
...                  ...             ...              ...
141480  2023-02-15 15:04  A69-1602-64245  Lake Outlet 2 N
141481  2023-02-15 15:07  A69-1602-64245  Lake Outlet 2 N
141482  2023-02-15 15:09  A69-1602-64245  Lake Outlet 2 N
141483  2023-02-15 15:12  A69-1602-64245  Lake Outlet 2 N
141484  2023-02-15 15:19  A69-1602-64245  Lake Outlet 2 N

[28380 rows x 3 columns]

Entries in dataframe with 'A69-1602-64246' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
141485   2022-03-11 9:07  A69-1602-64246                 Swaneset
141486  2022-03-13 19:16  A69-1602-64246                 Swaneset
141487  2022-03-16 12:33  A69-1602-64246                 Swaneset
141488  2022-03-16 22:22  A69-1602-64246                 Swaneset
141489  2022-03-17 17:05  A69-1602-64246                 Swaneset
...                  ...             ...                      ...
141821  2023-02-15 14:10  A69-1602-64246  Lake Navigation Channel
141822  2023-02-15 14:12  A69-1602-64246  Lake Navigation Channel
141823  2023-02-15 14:17  A69-1602-64246  Lake Navigation Channel
141824  2023-02-15 14:21  A69-1602-64246  Lake Navigation Channel
141825  2023-02-15 14:26  A69-1602-64246  Lake Navigation Channel

[341 rows x 3 columns]

Entries in dataframe with 'A69-1602-64247' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
141826  2022-03-25 13:47  A69-1602-64247                 Swaneset
141827  2022-03-25 14:25  A69-1602-64247                 Swaneset
141828  2022-03-25 14:27  A69-1602-64247                 Swaneset
141829  2022-03-25 14:35  A69-1602-64247                 Swaneset
141830  2022-03-26 10:03  A69-1602-64247    Lower River Tidal 2 N
...                  ...             ...                      ...
154819  2023-02-15 14:14  A69-1602-64247  Lake Navigation Channel
154820  2023-02-15 14:16  A69-1602-64247  Lake Navigation Channel
154821  2023-02-15 14:18  A69-1602-64247  Lake Navigation Channel
154822  2023-02-15 14:22  A69-1602-64247  Lake Navigation Channel
154823  2023-02-15 14:26  A69-1602-64247  Lake Navigation Channel

[12998 rows x 3 columns]

Entries in dataframe with 'A69-1602-64248' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
154824  2022-04-29 23:41  A69-1602-64248                 Swaneset
154825   2022-04-30 0:11  A69-1602-64248                 Swaneset
154826   2022-04-30 0:13  A69-1602-64248                 Swaneset
154827   2022-04-30 0:19  A69-1602-64248                 Swaneset
154828  2022-04-30 13:47  A69-1602-64248    Lower River Tidal 1 S
...                  ...             ...                      ...
155263  2023-02-15 14:14  A69-1602-64248  Lake Navigation Channel
155264  2023-02-15 14:16  A69-1602-64248  Lake Navigation Channel
155265  2023-02-15 14:19  A69-1602-64248  Lake Navigation Channel
155266  2023-02-15 14:21  A69-1602-64248  Lake Navigation Channel
155267  2023-02-15 14:25  A69-1602-64248  Lake Navigation Channel

[444 rows x 3 columns]

Entries in dataframe with 'A69-1602-64249' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
155268  2021-06-23 10:28  A69-1602-64249          Lake Outlet 1 S
155269  2021-06-23 10:28  A69-1602-64249          Lake Outlet 1 S
155270  2021-06-23 10:28  A69-1602-64249          Lake Outlet 1 S
155271  2021-06-23 10:28  A69-1602-64249          Lake Outlet 1 S
155272  2021-06-23 10:28  A69-1602-64249          Lake Outlet 1 S
...                  ...             ...                      ...
155710  2023-02-15 14:15  A69-1602-64249  Lake Navigation Channel
155711  2023-02-15 14:19  A69-1602-64249  Lake Navigation Channel
155712  2023-02-15 14:21  A69-1602-64249  Lake Navigation Channel
155713  2023-02-15 14:24  A69-1602-64249  Lake Navigation Channel
155714  2023-02-15 14:26  A69-1602-64249  Lake Navigation Channel

[447 rows x 3 columns]

Entries in dataframe with 'A69-1602-64250' in column 'acoustic_tag_id':
              date_local acoustic_tag_id           station
155715   2021-08-12 8:00  A69-1602-64250  Upper Pitt River
155716   2021-08-12 8:37  A69-1602-64250  Upper Pitt River
155717   2021-08-12 9:18  A69-1602-64250  Upper Pitt River
155718   2021-08-12 9:20  A69-1602-64250  Upper Pitt River
155719   2021-08-12 9:23  A69-1602-64250  Upper Pitt River
...                  ...             ...               ...
160042  2023-02-12 21:20  A69-1602-64250          Swaneset
160043  2023-02-12 21:22  A69-1602-64250          Swaneset
160044   2023-02-13 6:31  A69-1602-64250          Swaneset
160045   2023-02-13 6:35  A69-1602-64250          Swaneset
160046  2023-02-16 13:27  A69-1602-64250          Swaneset

[4332 rows x 3 columns]

Entries in dataframe with 'A69-1602-64252' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
160047  2021-07-08 11:59  A69-1602-64252  Swaneset
160048  2021-07-08 12:01  A69-1602-64252  Swaneset
160049  2021-07-08 15:03  A69-1602-64252  Swaneset
160050  2021-07-08 18:04  A69-1602-64252  Swaneset
160051  2021-07-08 18:13  A69-1602-64252  Swaneset
...                  ...             ...       ...
250373  2023-02-16 13:18  A69-1602-64252  Swaneset
250374  2023-02-16 13:20  A69-1602-64252  Swaneset
250375  2023-02-16 13:22  A69-1602-64252  Swaneset
250376  2023-02-16 13:25  A69-1602-64252  Swaneset
250377  2023-02-16 13:27  A69-1602-64252  Swaneset

[90331 rows x 3 columns]

Entries in dataframe with 'A69-1602-64255' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
250378  2022-04-08 14:58  A69-1602-64255                 Swaneset
250379  2022-04-08 15:05  A69-1602-64255                 Swaneset
250380  2022-04-08 19:08  A69-1602-64255    Lower River Tidal 2 N
250381  2022-04-08 19:11  A69-1602-64255    Lower River Tidal 2 N
250382  2022-04-08 19:26  A69-1602-64255    Lower River Tidal 1 S
...                  ...             ...                      ...
253528  2023-02-15 14:11  A69-1602-64255  Lake Navigation Channel
253529  2023-02-15 14:14  A69-1602-64255  Lake Navigation Channel
253530  2023-02-15 14:17  A69-1602-64255  Lake Navigation Channel
253531  2023-02-15 14:20  A69-1602-64255  Lake Navigation Channel
253532  2023-02-15 14:27  A69-1602-64255  Lake Navigation Channel

[3155 rows x 3 columns]

Entries in dataframe with 'A69-1602-64256' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
253533   2022-01-24 2:29  A69-1602-64256               Swaneset
253534   2022-01-24 4:27  A69-1602-64256               Swaneset
253535   2022-01-24 4:33  A69-1602-64256               Swaneset
253536   2022-01-24 7:08  A69-1602-64256               Swaneset
253537  2022-01-31 14:57  A69-1602-64256               Swaneset
...                  ...             ...                    ...
257439  2023-02-16 10:25  A69-1602-64256  Lower River Tidal 1 S
257440  2023-02-16 10:27  A69-1602-64256  Lower River Tidal 1 S
257441  2023-02-16 10:29  A69-1602-64256  Lower River Tidal 1 S
257442  2023-02-16 10:31  A69-1602-64256  Lower River Tidal 1 S
257443  2023-02-16 10:34  A69-1602-64256  Lower River Tidal 1 S

[3911 rows x 3 columns]

Entries in dataframe with 'A69-1602-64257' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
257444  2023-02-15 10:51  A69-1602-64257  Lake Navigation Channel
257445  2023-02-15 10:54  A69-1602-64257  Lake Navigation Channel
257446  2023-02-15 10:56  A69-1602-64257  Lake Navigation Channel
257447  2023-02-15 10:59  A69-1602-64257  Lake Navigation Channel
257448  2023-02-15 11:04  A69-1602-64257  Lake Navigation Channel
...                  ...             ...                      ...
257509  2023-02-15 14:16  A69-1602-64257  Lake Navigation Channel
257510  2023-02-15 14:19  A69-1602-64257  Lake Navigation Channel
257511  2023-02-15 14:22  A69-1602-64257  Lake Navigation Channel
257512  2023-02-15 14:24  A69-1602-64257  Lake Navigation Channel
257513  2023-02-15 14:26  A69-1602-64257  Lake Navigation Channel

[70 rows x 3 columns]

Entries in dataframe with 'A69-1604-24858' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
257514  2023-02-05 14:32  A69-1604-24858  Swaneset
257515  2023-02-07 14:44  A69-1604-24858  Swaneset
257516  2023-02-07 17:22  A69-1604-24858  Swaneset
257517  2023-02-07 18:09  A69-1604-24858  Swaneset
257518  2023-02-07 22:10  A69-1604-24858  Swaneset
257519  2023-02-07 22:21  A69-1604-24858  Swaneset
257520  2023-02-07 22:31  A69-1604-24858  Swaneset
257521  2023-02-07 22:35  A69-1604-24858  Swaneset
257522  2023-02-10 14:08  A69-1604-24858  Swaneset
257523  2023-02-10 19:21  A69-1604-24858  Swaneset
257524   2023-02-11 0:17  A69-1604-24858  Swaneset
257525   2023-02-11 0:19  A69-1604-24858  Swaneset
257526   2023-02-11 0:24  A69-1604-24858  Swaneset
257527   2023-02-11 0:31  A69-1604-24858  Swaneset
257528   2023-02-11 0:39  A69-1604-24858  Swaneset
257529   2023-02-11 0:45  A69-1604-24858  Swaneset
257530   2023-02-11 0:47  A69-1604-24858  Swaneset
257531   2023-02-11 0:49  A69-1604-24858  Swaneset
257532   2023-02-11 0:51  A69-1604-24858  Swaneset
257533   2023-02-11 0:53  A69-1604-24858  Swaneset
257534   2023-02-11 0:55  A69-1604-24858  Swaneset
257535   2023-02-11 0:57  A69-1604-24858  Swaneset
257536   2023-02-11 1:10  A69-1604-24858  Swaneset
257537   2023-02-11 1:37  A69-1604-24858  Swaneset
257538   2023-02-11 2:25  A69-1604-24858  Swaneset
257539   2023-02-11 3:08  A69-1604-24858  Swaneset
257540   2023-02-11 3:46  A69-1604-24858  Swaneset
257541   2023-02-11 3:48  A69-1604-24858  Swaneset
257542   2023-02-11 3:50  A69-1604-24858  Swaneset
257543   2023-02-11 4:18  A69-1604-24858  Swaneset
257544   2023-02-11 4:20  A69-1604-24858  Swaneset
257545   2023-02-11 4:27  A69-1604-24858  Swaneset
257546   2023-02-11 5:03  A69-1604-24858  Swaneset
257547   2023-02-11 5:14  A69-1604-24858  Swaneset
257548   2023-02-11 5:52  A69-1604-24858  Swaneset
257549  2023-02-11 21:49  A69-1604-24858  Swaneset
257550   2023-02-12 4:03  A69-1604-24858  Swaneset
257551   2023-02-12 4:46  A69-1604-24858  Swaneset
257552  2023-02-14 21:02  A69-1604-24858  Swaneset
257553  2023-02-14 21:04  A69-1604-24858  Swaneset
257554  2023-02-14 22:26  A69-1604-24858  Swaneset

Entries in dataframe with 'A69-1604-27419' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
257555  2022-10-17 11:46  A69-1604-27419               Swaneset
257556  2022-10-17 11:57  A69-1604-27419               Swaneset
257557   2022-10-18 0:36  A69-1604-27419               Swaneset
257558   2022-10-18 0:49  A69-1604-27419               Swaneset
257559   2022-10-18 1:06  A69-1604-27419               Swaneset
...                  ...             ...                    ...
263784   2023-02-16 1:12  A69-1604-27419  Lower River Tidal 1 S
263785   2023-02-16 1:24  A69-1604-27419  Lower River Tidal 1 S
263786   2023-02-16 1:30  A69-1604-27419  Lower River Tidal 1 S
263787   2023-02-16 1:32  A69-1604-27419  Lower River Tidal 1 S
263788   2023-02-16 1:33  A69-1604-27419  Lower River Tidal 1 S

[6234 rows x 3 columns]

Entries in dataframe with 'A69-1604-27420' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
263789  2023-02-02 14:03  A69-1604-27420  Swaneset
263790  2023-02-02 14:30  A69-1604-27420  Swaneset
263791  2023-02-02 14:32  A69-1604-27420  Swaneset
263792  2023-02-02 15:45  A69-1604-27420  Swaneset
263793  2023-02-02 16:09  A69-1604-27420  Swaneset
...                  ...             ...       ...
263881  2023-02-12 20:25  A69-1604-27420  Swaneset
263882  2023-02-12 20:29  A69-1604-27420  Swaneset
263883  2023-02-12 21:01  A69-1604-27420  Swaneset
263884  2023-02-12 21:04  A69-1604-27420  Swaneset
263885  2023-02-12 22:53  A69-1604-27420  Swaneset

[97 rows x 3 columns]

Entries in dataframe with 'A69-1604-27421' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
263886  2022-10-17 10:35  A69-1604-27421  Swaneset
263887  2022-10-17 17:39  A69-1604-27421  Swaneset
263888  2022-10-17 18:04  A69-1604-27421  Swaneset
263889  2022-10-17 18:06  A69-1604-27421  Swaneset
263890  2022-10-17 18:12  A69-1604-27421  Swaneset
...                  ...             ...       ...
266394  2023-02-15 23:27  A69-1604-27421  Swaneset
266395   2023-02-16 0:22  A69-1604-27421  Swaneset
266396   2023-02-16 0:51  A69-1604-27421  Swaneset
266397   2023-02-16 0:53  A69-1604-27421  Swaneset
266398   2023-02-16 1:11  A69-1604-27421  Swaneset

[2513 rows x 3 columns]

Entries in dataframe with 'A69-1604-27422' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
266399  2022-10-19 22:50  A69-1604-27422  Swaneset
266400  2022-10-19 23:26  A69-1604-27422  Swaneset
266401   2022-10-20 2:36  A69-1604-27422  Swaneset
266402  2022-10-20 22:42  A69-1604-27422  Swaneset
266403  2022-10-20 23:18  A69-1604-27422  Swaneset
...                  ...             ...       ...
266622  2023-01-04 13:00  A69-1604-27422  Swaneset
266623  2023-01-19 14:22  A69-1604-27422  Swaneset
266624  2023-01-19 14:24  A69-1604-27422  Swaneset
266625  2023-02-05 17:56  A69-1604-27422  Swaneset
266626  2023-02-05 20:12  A69-1604-27422  Swaneset

[228 rows x 3 columns]

Entries in dataframe with 'A69-1604-27423' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
266627  2022-10-17 20:02  A69-1604-27423  Swaneset
266628  2022-10-17 20:06  A69-1604-27423  Swaneset
266629  2022-10-17 20:12  A69-1604-27423  Swaneset
266630  2022-10-17 20:14  A69-1604-27423  Swaneset
266631  2022-10-17 20:19  A69-1604-27423  Swaneset
...                  ...             ...       ...
268540   2023-01-26 0:40  A69-1604-27423  Swaneset
268541   2023-01-26 1:02  A69-1604-27423  Swaneset
268542   2023-01-26 1:11  A69-1604-27423  Swaneset
268543   2023-01-26 1:24  A69-1604-27423  Swaneset
268544   2023-02-12 3:39  A69-1604-27423  Swaneset

[1918 rows x 3 columns]

Entries in dataframe with 'A69-1604-27424' in column 'acoustic_tag_id':
              date_local acoustic_tag_id        station
268545  2022-10-17 14:22  A69-1604-27424       Swaneset
268546  2022-10-17 14:24  A69-1604-27424       Swaneset
268547  2022-10-17 14:26  A69-1604-27424       Swaneset
268548  2022-10-17 15:39  A69-1604-27424  Quarry Siwash
268549  2022-10-17 15:39  A69-1604-27424  Quarry Siwash
...                  ...             ...            ...
271648  2023-02-10 20:25  A69-1604-27424       Swaneset
271649  2023-02-11 14:29  A69-1604-27424       Swaneset
271650  2023-02-11 14:39  A69-1604-27424       Swaneset
271651  2023-02-12 14:12  A69-1604-27424       Swaneset
271652  2023-02-12 14:14  A69-1604-27424       Swaneset

[3108 rows x 3 columns]

Entries in dataframe with 'A69-1604-27425' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
271653  2023-01-14 17:53  A69-1604-27425  Lake Outlet 2 N
271654  2023-01-14 17:55  A69-1604-27425  Lake Outlet 2 N
271655  2023-01-14 17:58  A69-1604-27425  Lake Outlet 2 N
271656  2023-01-14 18:05  A69-1604-27425  Lake Outlet 2 N
271657  2023-01-14 18:12  A69-1604-27425  Lake Outlet 2 N
...                  ...             ...              ...
271908  2023-02-07 22:42  A69-1604-27425         Swaneset
271909  2023-02-08 22:51  A69-1604-27425         Swaneset
271910  2023-02-08 22:53  A69-1604-27425         Swaneset
271911  2023-02-08 22:54  A69-1604-27425         Swaneset
271912  2023-02-12 14:16  A69-1604-27425         Swaneset

[260 rows x 3 columns]

Entries in dataframe with 'A69-1604-27427' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
271913  2023-02-08 15:37  A69-1604-27427  Swaneset
271914  2023-02-08 15:38  A69-1604-27427  Swaneset
271915  2023-02-08 15:58  A69-1604-27427  Swaneset
271916  2023-02-11 15:22  A69-1604-27427  Swaneset

Entries in dataframe with 'A69-1604-27430' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
271917  2023-02-02 14:00  A69-1604-27430         Swaneset
271918  2023-02-02 14:03  A69-1604-27430         Swaneset
271919  2023-02-02 14:11  A69-1604-27430         Swaneset
271920  2023-02-02 16:41  A69-1604-27430         Swaneset
271921  2023-02-02 17:06  A69-1604-27430         Swaneset
...                  ...             ...              ...
272564  2023-02-15 15:05  A69-1604-27430  Lake Outlet 2 N
272565  2023-02-15 15:07  A69-1604-27430  Lake Outlet 2 N
272566  2023-02-15 15:09  A69-1604-27430  Lake Outlet 2 N
272567  2023-02-15 15:11  A69-1604-27430  Lake Outlet 2 N
272568  2023-02-15 15:20  A69-1604-27430  Lake Outlet 2 N

[652 rows x 3 columns]

Entries in dataframe with 'A69-1604-27431' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
272569  2023-02-15 13:36  A69-1604-27431  Lake Navigation Channel

Entries in dataframe with 'A69-1604-27432' in column 'acoustic_tag_id':
             date_local acoustic_tag_id        station
272570  2022-12-07 6:04  A69-1604-27432   Mid Lake 1 E
272571  2022-12-07 6:30  A69-1604-27432   Mid Lake 1 E
272572  2022-12-07 6:49  A69-1604-27432   Mid Lake 1 E
272573  2022-12-07 7:13  A69-1604-27432   Mid Lake 1 E
272574  2022-12-07 7:22  A69-1604-27432   Mid Lake 1 E
...                 ...             ...            ...
277104  2023-02-17 2:13  A69-1604-27432  Quarry Siwash
277105  2023-02-17 2:50  A69-1604-27432  Quarry Siwash
277106  2023-02-17 2:53  A69-1604-27432  Quarry Siwash
277107  2023-02-17 2:58  A69-1604-27432  Quarry Siwash
277108  2023-02-17 3:00  A69-1604-27432  Quarry Siwash

[4539 rows x 3 columns]

Entries in dataframe with 'A69-1604-27433' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
277109   2023-01-29 6:53  A69-1604-27433  Lake Outlet 2 N
277110   2023-01-29 7:17  A69-1604-27433  Lake Outlet 2 N
277111   2023-01-29 7:27  A69-1604-27433  Lake Outlet 2 N
277112   2023-01-29 7:30  A69-1604-27433  Lake Outlet 2 N
277113   2023-01-29 7:56  A69-1604-27433  Lake Outlet 2 N
...                  ...             ...              ...
277838  2023-02-14 15:28  A69-1604-27433  Lake Outlet 2 N
277839  2023-02-14 15:50  A69-1604-27433  Lake Outlet 2 N
277840   2023-02-15 6:18  A69-1604-27433  Lake Outlet 2 N
277841   2023-02-15 6:31  A69-1604-27433  Lake Outlet 2 N
277842  2023-02-15 13:52  A69-1604-27433  Lake Outlet 2 N

[734 rows x 3 columns]

Entries in dataframe with 'A69-1604-27434' in column 'acoustic_tag_id':
              date_local acoustic_tag_id       station
277843  2023-01-22 11:17  A69-1604-27434  Mid Lake 1 E
277844  2023-01-22 12:16  A69-1604-27434  Mid Lake 1 E
277845  2023-01-22 14:24  A69-1604-27434  Mid Lake 1 E
277846  2023-01-22 16:27  A69-1604-27434  Mid Lake 1 E
277847  2023-01-22 17:33  A69-1604-27434  Mid Lake 1 E
...                  ...             ...           ...
278600  2023-02-14 18:23  A69-1604-27434  Mid Lake 1 E
278601  2023-02-14 18:25  A69-1604-27434  Mid Lake 1 E
278602  2023-02-14 18:27  A69-1604-27434  Mid Lake 1 E
278603  2023-02-14 18:29  A69-1604-27434  Mid Lake 1 E
278604  2023-02-14 19:17  A69-1604-27434  Mid Lake 1 E

[762 rows x 3 columns]

Entries in dataframe with 'A69-1604-27435' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
278605  2023-01-28 21:17  A69-1604-27435  Lake Outlet 2 N
278606  2023-01-28 21:19  A69-1604-27435  Lake Outlet 2 N
278607  2023-01-28 21:21  A69-1604-27435  Lake Outlet 2 N
278608  2023-01-28 21:24  A69-1604-27435  Lake Outlet 2 N
278609  2023-01-28 21:28  A69-1604-27435  Lake Outlet 2 N
...                  ...             ...              ...
278950   2023-02-14 5:29  A69-1604-27435     Mid Lake 1 E
278951   2023-02-14 5:31  A69-1604-27435     Mid Lake 1 E
278952   2023-02-14 5:32  A69-1604-27435     Mid Lake 1 E
278953   2023-02-14 5:49  A69-1604-27435     Mid Lake 1 E
278954   2023-02-14 7:17  A69-1604-27435     Mid Lake 1 E

[350 rows x 3 columns]

Entries in dataframe with 'A69-1604-27436' in column 'acoustic_tag_id':
              date_local acoustic_tag_id        station
278955  2023-02-02 10:34  A69-1604-27436       Swaneset
278956  2023-02-02 11:41  A69-1604-27436       Swaneset
278957  2023-02-02 11:59  A69-1604-27436       Swaneset
278958  2023-02-02 12:05  A69-1604-27436       Swaneset
278959  2023-02-02 12:07  A69-1604-27436       Swaneset
...                  ...             ...            ...
280567   2023-02-16 2:49  A69-1604-27436  Quarry Siwash
280568   2023-02-17 2:18  A69-1604-27436  Quarry Siwash
280569   2023-02-17 2:23  A69-1604-27436  Quarry Siwash
280570   2023-02-17 2:31  A69-1604-27436  Quarry Siwash
280571  2023-02-17 12:41  A69-1604-27436  Quarry Siwash

[1617 rows x 3 columns]

Entries in dataframe with 'A69-1604-27437' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
280572  2022-10-17 11:13  A69-1604-27437  Swaneset
280573  2022-10-17 11:17  A69-1604-27437  Swaneset
280574  2022-10-17 11:37  A69-1604-27437  Swaneset
280575  2022-10-17 11:41  A69-1604-27437  Swaneset
280576  2022-10-17 11:45  A69-1604-27437  Swaneset
...                  ...             ...       ...
282040   2023-02-14 0:25  A69-1604-27437  Swaneset
282041   2023-02-14 6:43  A69-1604-27437  Swaneset
282042   2023-02-15 1:29  A69-1604-27437  Swaneset
282043   2023-02-15 1:32  A69-1604-27437  Swaneset
282044   2023-02-15 1:39  A69-1604-27437  Swaneset

[1473 rows x 3 columns]

Entries in dataframe with 'A69-1604-27438' in column 'acoustic_tag_id':
              date_local acoustic_tag_id       station
282045  2022-10-17 19:56  A69-1604-27438      Swaneset
282046  2022-10-17 20:00  A69-1604-27438      Swaneset
282047  2022-10-17 20:04  A69-1604-27438      Swaneset
282048  2022-10-17 20:12  A69-1604-27438      Swaneset
282049  2022-10-17 20:37  A69-1604-27438      Swaneset
...                  ...             ...           ...
285087  2022-12-19 18:51  A69-1604-27438  Mid Lake 1 E
285088  2022-12-19 18:55  A69-1604-27438  Mid Lake 1 E
285089  2022-12-19 18:57  A69-1604-27438  Mid Lake 1 E
285090  2022-12-19 18:59  A69-1604-27438  Mid Lake 1 E
285091  2023-01-09 21:37  A69-1604-27438  Mid Lake 1 E

[3047 rows x 3 columns]

Entries in dataframe with 'A69-1604-27439' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
285092  2022-10-17 12:23  A69-1604-27439  Swaneset
285093  2022-10-17 19:47  A69-1604-27439  Swaneset
285094  2022-10-17 19:49  A69-1604-27439  Swaneset
285095  2022-10-17 19:55  A69-1604-27439  Swaneset
285096  2022-10-17 21:11  A69-1604-27439  Swaneset
...                  ...             ...       ...
287511   2023-02-10 5:39  A69-1604-27439  Swaneset
287512  2023-02-11 21:04  A69-1604-27439  Swaneset
287513   2023-02-14 7:35  A69-1604-27439  Swaneset
287514   2023-02-14 7:38  A69-1604-27439  Swaneset
287515   2023-02-14 7:45  A69-1604-27439  Swaneset

[2424 rows x 3 columns]

Entries in dataframe with 'A69-1604-27440' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
287516  2022-10-07 23:29  A69-1604-27440  Lake Outlet 2 N
287517  2022-10-07 23:31  A69-1604-27440  Lake Outlet 2 N
287518  2022-10-07 23:31  A69-1604-27440  Lake Outlet 2 N
287519  2022-10-07 23:33  A69-1604-27440  Lake Outlet 2 N
287520  2022-10-07 23:33  A69-1604-27440  Lake Outlet 2 N
...                  ...             ...              ...
304461  2023-01-26 19:41  A69-1604-27440         Swaneset
304462  2023-01-26 19:44  A69-1604-27440         Swaneset
304463  2023-01-26 19:45  A69-1604-27440         Swaneset
304464  2023-01-26 20:01  A69-1604-27440         Swaneset
304465  2023-01-26 20:18  A69-1604-27440         Swaneset

[16950 rows x 3 columns]

Entries in dataframe with 'A69-1604-27441' in column 'acoustic_tag_id':
              date_local acoustic_tag_id         station
304466  2022-06-24 22:52  A69-1604-27441        Swaneset
304467  2022-06-24 22:54  A69-1604-27441        Swaneset
304468   2022-06-25 3:06  A69-1604-27441        Swaneset
304469   2022-06-25 3:13  A69-1604-27441        Swaneset
304470   2022-06-25 6:47  A69-1604-27441        Swaneset
...                  ...             ...             ...
361024  2023-02-15 12:01  A69-1604-27441  Upper Lake 2 W
361025  2023-02-15 12:01  A69-1604-27441      Red Slough
361026  2023-02-15 12:15  A69-1604-27441  Upper Lake 2 W
361027  2023-02-15 12:23  A69-1604-27441  Upper Lake 1 E
361028  2023-02-15 12:40  A69-1604-27441  Upper Lake 2 W

[56563 rows x 3 columns]

Entries in dataframe with 'A69-1604-27442' in column 'acoustic_tag_id':
             date_local acoustic_tag_id          station
361029  2022-10-08 0:40  A69-1604-27442  Lake Outlet 2 N
361030  2022-10-08 0:43  A69-1604-27442  Lake Outlet 2 N
361031  2022-10-08 0:43  A69-1604-27442  Lake Outlet 2 N
361032  2022-10-08 0:45  A69-1604-27442  Lake Outlet 2 N
361033  2022-10-08 0:47  A69-1604-27442  Lake Outlet 2 N
...                 ...             ...              ...
361118  2022-10-09 7:58  A69-1604-27442  Lake Outlet 2 N
361119  2022-10-09 8:00  A69-1604-27442  Lake Outlet 2 N
361120  2022-10-09 8:00  A69-1604-27442  Lake Outlet 2 N
361121  2022-10-09 8:03  A69-1604-27442  Lake Outlet 2 N
361122  2022-10-09 8:09  A69-1604-27442  Lake Outlet 2 N

[94 rows x 3 columns]

Entries in dataframe with 'A69-1604-27443' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
361123  2023-02-02 12:48  A69-1604-27443  Swaneset
361124  2023-02-02 14:39  A69-1604-27443  Swaneset
361125  2023-02-02 14:52  A69-1604-27443  Swaneset
361126  2023-02-02 15:30  A69-1604-27443  Swaneset
361127  2023-02-02 20:59  A69-1604-27443  Swaneset
...                  ...             ...       ...
361343  2023-02-11 15:51  A69-1604-27443  Swaneset
361344  2023-02-11 19:17  A69-1604-27443  Swaneset
361345  2023-02-11 20:30  A69-1604-27443  Swaneset
361346   2023-02-12 1:40  A69-1604-27443  Swaneset
361347  2023-02-12 15:17  A69-1604-27443  Swaneset

[225 rows x 3 columns]

Entries in dataframe with 'A69-1604-27444' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                  station
361348  2023-02-15 10:52  A69-1604-27444  Lake Navigation Channel
361349  2023-02-15 10:55  A69-1604-27444  Lake Navigation Channel
361350  2023-02-15 11:01  A69-1604-27444  Lake Navigation Channel
361351  2023-02-15 11:10  A69-1604-27444  Lake Navigation Channel
361352  2023-02-15 11:14  A69-1604-27444  Lake Navigation Channel
...                  ...             ...                      ...
361404  2023-02-15 14:13  A69-1604-27444  Lake Navigation Channel
361405  2023-02-15 14:18  A69-1604-27444  Lake Navigation Channel
361406  2023-02-15 14:22  A69-1604-27444  Lake Navigation Channel
361407  2023-02-15 14:25  A69-1604-27444  Lake Navigation Channel
361408  2023-02-15 14:27  A69-1604-27444  Lake Navigation Channel

[61 rows x 3 columns]

Entries in dataframe with 'A69-1604-27445' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
361409  2023-02-02 15:24  A69-1604-27445  Swaneset
361410  2023-02-03 14:25  A69-1604-27445  Swaneset
361411  2023-02-03 14:28  A69-1604-27445  Swaneset
361412  2023-02-03 14:30  A69-1604-27445  Swaneset
361413  2023-02-03 15:35  A69-1604-27445  Swaneset
361414  2023-02-05 13:05  A69-1604-27445  Swaneset
361415  2023-02-05 13:55  A69-1604-27445  Swaneset
361416  2023-02-05 14:35  A69-1604-27445  Swaneset
361417  2023-02-05 14:57  A69-1604-27445  Swaneset
361418  2023-02-05 16:45  A69-1604-27445  Swaneset
361419  2023-02-05 16:49  A69-1604-27445  Swaneset
361420  2023-02-05 16:57  A69-1604-27445  Swaneset
361421  2023-02-05 18:31  A69-1604-27445  Swaneset
361422  2023-02-05 19:11  A69-1604-27445  Swaneset
361423  2023-02-05 19:13  A69-1604-27445  Swaneset
361424  2023-02-05 20:01  A69-1604-27445  Swaneset
361425  2023-02-05 20:26  A69-1604-27445  Swaneset
361426   2023-02-06 2:04  A69-1604-27445  Swaneset
361427  2023-02-06 16:55  A69-1604-27445  Swaneset
361428  2023-02-06 16:58  A69-1604-27445  Swaneset
361429  2023-02-06 17:18  A69-1604-27445  Swaneset
361430  2023-02-07 18:06  A69-1604-27445  Swaneset
361431  2023-02-07 18:08  A69-1604-27445  Swaneset
361432  2023-02-08 19:13  A69-1604-27445  Swaneset
361433  2023-02-08 21:36  A69-1604-27445  Swaneset
361434  2023-02-08 21:38  A69-1604-27445  Swaneset
361435  2023-02-09 19:14  A69-1604-27445  Swaneset
361436   2023-02-11 0:28  A69-1604-27445  Swaneset

Entries in dataframe with 'A69-1604-27446' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
361437  2023-02-10 20:30  A69-1604-27446  Swaneset

Entries in dataframe with 'A69-1604-27447' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
361438   2022-10-27 1:03  A69-1604-27447  Lake Outlet 2 N
361439   2022-10-27 1:06  A69-1604-27447  Lake Outlet 2 N
361440   2022-10-27 1:06  A69-1604-27447  Lake Outlet 2 N
361441   2022-10-27 1:09  A69-1604-27447  Lake Outlet 2 N
361442   2022-10-27 1:17  A69-1604-27447  Lake Outlet 2 N
...                  ...             ...              ...
363275  2023-02-15 21:36  A69-1604-27447   Douglas Island
363276  2023-02-15 21:38  A69-1604-27447   Douglas Island
363277  2023-02-15 21:55  A69-1604-27447   Douglas Island
363278  2023-02-15 22:07  A69-1604-27447   Douglas Island
363279  2023-02-15 22:12  A69-1604-27447   Douglas Island

[1842 rows x 3 columns]

Entries in dataframe with 'A69-1604-27448' in column 'acoustic_tag_id':
              date_local acoustic_tag_id   station
363280  2023-02-05 13:43  A69-1604-27448  Swaneset
363281  2023-02-05 16:48  A69-1604-27448  Swaneset
363282  2023-02-05 19:34  A69-1604-27448  Swaneset
363283  2023-02-05 19:56  A69-1604-27448  Swaneset
363284  2023-02-05 20:53  A69-1604-27448  Swaneset
363285  2023-02-06 16:18  A69-1604-27448  Swaneset
363286  2023-02-07 15:05  A69-1604-27448  Swaneset
363287  2023-02-08 14:06  A69-1604-27448  Swaneset
363288  2023-02-12 13:56  A69-1604-27448  Swaneset

Entries in dataframe with 'A69-9001-16062' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
363289   2021-10-07 7:06  A69-9001-16062  Lower River Tidal 2 N
363290   2021-10-07 7:08  A69-9001-16062  Lower River Tidal 2 N
363291   2021-10-07 7:08  A69-9001-16062  Lower River Tidal 2 N
363292   2021-10-07 7:10  A69-9001-16062  Lower River Tidal 1 S
363293   2021-10-07 7:10  A69-9001-16062  Lower River Tidal 1 S
...                  ...             ...                    ...
364581  2023-02-15 21:10  A69-9001-16062           Mid Lake 1 E
364582  2023-02-15 21:13  A69-9001-16062           Mid Lake 1 E
364583  2023-02-15 21:47  A69-9001-16062           Mid Lake 1 E
364584  2023-02-15 21:51  A69-9001-16062           Mid Lake 1 E
364585  2023-02-15 21:54  A69-9001-16062           Mid Lake 1 E

[1297 rows x 3 columns]

Entries in dataframe with 'A69-9001-20978' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
364586  2021-06-25 12:18  A69-9001-20978  Lower River Tidal 1 S
364587  2021-06-25 12:18  A69-9001-20978  Lower River Tidal 1 S
364588  2021-06-25 12:27  A69-9001-20978  Lower River Tidal 1 S
364589  2021-06-25 12:27  A69-9001-20978  Lower River Tidal 1 S
364590  2021-06-25 12:44  A69-9001-20978  Lower River Tidal 1 S
...                  ...             ...                    ...
412916   2023-02-17 3:25  A69-9001-20978           Mid Lake 1 E
412917   2023-02-17 3:28  A69-9001-20978           Mid Lake 1 E
412918   2023-02-17 3:31  A69-9001-20978           Mid Lake 1 E
412919   2023-02-17 4:55  A69-9001-20978           Mid Lake 1 E
412920   2023-02-17 5:58  A69-9001-20978           Mid Lake 1 E

[48335 rows x 3 columns]

Entries in dataframe with 'A69-9001-20980' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
412921   2021-10-12 1:24  A69-9001-20980  Lower River Tidal 2 N
412922   2021-10-12 1:32  A69-9001-20980  Lower River Tidal 1 S
412923   2021-10-12 1:32  A69-9001-20980  Lower River Tidal 1 S
412924   2021-10-12 1:36  A69-9001-20980  Lower River Tidal 1 S
412925   2021-10-12 1:36  A69-9001-20980  Lower River Tidal 1 S
...                  ...             ...                    ...
415216  2023-02-15 19:10  A69-9001-20980           Mid Lake 1 E
415217  2023-02-15 19:18  A69-9001-20980           Mid Lake 1 E
415218  2023-02-15 21:51  A69-9001-20980           Mid Lake 1 E
415219  2023-02-15 21:53  A69-9001-20980           Mid Lake 1 E
415220  2023-02-15 21:56  A69-9001-20980           Mid Lake 1 E

[2300 rows x 3 columns]

Entries in dataframe with 'A69-9001-20981' in column 'acoustic_tag_id':
              date_local acoustic_tag_id                station
415221  2021-07-22 18:16  A69-9001-20981  Lower River Tidal 1 S
415222  2021-07-22 18:16  A69-9001-20981  Lower River Tidal 1 S
415223  2021-07-22 18:18  A69-9001-20981  Lower River Tidal 1 S
415224  2021-07-22 18:18  A69-9001-20981  Lower River Tidal 1 S
415225  2021-07-22 18:21  A69-9001-20981  Lower River Tidal 1 S
...                  ...             ...                    ...
495292  2023-02-17 10:16  A69-9001-20981           Mid Lake 1 E
495293  2023-02-17 10:20  A69-9001-20981           Mid Lake 1 E
495294  2023-02-17 10:24  A69-9001-20981           Mid Lake 1 E
495295  2023-02-17 10:27  A69-9001-20981           Mid Lake 1 E
495296  2023-02-17 11:06  A69-9001-20981           Mid Lake 2 W

[80076 rows x 3 columns]

Entries in dataframe with 'A69-9001-22495' in column 'acoustic_tag_id':
              date_local acoustic_tag_id          station
495297  2022-09-27 11:20  A69-9001-22495   Douglas Island
495298  2022-09-27 11:25  A69-9001-22495   Douglas Island
495299  2022-09-27 11:28  A69-9001-22495   Douglas Island
495300  2022-09-27 11:32  A69-9001-22495   Douglas Island
495301  2022-09-27 11:41  A69-9001-22495   Douglas Island
...                  ...             ...              ...
495934  2023-02-07 18:16  A69-9001-22495  Lake Outlet 2 N
495935  2023-02-14 14:14  A69-9001-22495  Lake Outlet 2 N
495936  2023-02-15 14:25  A69-9001-22495  Lake Outlet 2 N
495937  2023-02-15 14:40  A69-9001-22495  Lake Outlet 2 N
495938  2023-02-15 14:47  A69-9001-22495  Lake Outlet 2 N

[642 rows x 3 columns]

Entries in dataframe with 'A69-9001-22498' in column 'acoustic_tag_id':
              date_local acoustic_tag_id     station
495939  2021-06-23 20:51  A69-9001-22498  Red Slough
495940  2021-06-23 21:09  A69-9001-22498  Red Slough
495941  2021-06-23 21:37  A69-9001-22498  Red Slough
495942  2021-06-23 22:33  A69-9001-22498  Red Slough
495943  2021-06-23 22:45  A69-9001-22498  Red Slough
...                  ...             ...         ...
513941   2022-08-04 4:37  A69-9001-22498  Red Slough
513942   2022-08-04 4:50  A69-9001-22498  Red Slough
513943   2022-08-04 5:08  A69-9001-22498  Red Slough
513944   2022-08-04 6:10  A69-9001-22498  Red Slough
513945   2022-08-04 6:26  A69-9001-22498  Red Slough

[18007 rows x 3 columns]

Entries in dataframe with 'A69-9001-25438' in column 'acoustic_tag_id':
              date_local acoustic_tag_id         station
513946   2021-06-25 0:23  A69-9001-25438        Swaneset
513947   2021-06-25 0:28  A69-9001-25438        Swaneset
513948   2021-06-25 0:43  A69-9001-25438        Swaneset
513949   2021-06-25 1:17  A69-9001-25438        Swaneset
513950   2021-06-25 1:37  A69-9001-25438        Swaneset
...                  ...             ...             ...
524998  2022-12-12 18:43  A69-9001-25438  Douglas Island
524999   2022-12-13 0:51  A69-9001-25438  Douglas Island
525000   2022-12-13 0:55  A69-9001-25438  Douglas Island
525001   2022-12-13 1:00  A69-9001-25438  Douglas Island
525002   2022-12-13 1:05  A69-9001-25438  Douglas Island

[11057 rows x 3 columns]